<p id="notice"><%= notice %></p>

<h1>Arduinos</h1>

<%= link_to 'New Arduino', new_arduino_path %>

<div class="card-body border border-primary rounded advanced_options mb-4 d-none">
</div>

<div class="table-responsive-sm">
  <table class="table table-bordered table-hover table-striped" id="arduinos-dttb" data-source="<%= datatable_arduinos_path(format: :json) %>">
    <thead>
      <tr>
        <th data-data='id'>ID</th>
        <th data-data='model'>Name</th>
        <th data-data='serial'>Plant Type</th>
        <th data-data='buttons' data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>