<div class="card">
  <div class="card-header card-header-success">
    <h4 class="card-title ">
      Users
      <%= link_to_new new_user_path %>
    </h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover" id="users-dttb" data-source="<%= datatable_users_path(format: :json) %>">
        <thead>
          <tr>
            <th data-data='id'>ID</th>
            <th data-data='rut'>firstname</th>
            <th data-data='firstname'>lastname</th>
            <th data-data='lastname'>email</th>
            <th data-data='email'>email</th>
            <th data-data='buttons' data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export"></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
