<div class="card">
  <div class="card-header card-header-success">
    <h4 class="card-title">
      New User
      <%= link_to_back users_path%>
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', user: @user %>
  </div>
</div>
