<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header card-header-icon card-header-success">
        <div class="card-icon">
          <i class="material-icons">functions</i>
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title"><%= t(:average, scope: [:views, :titles]) %></h4>
        Indicador promedio
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header card-header-icon card-header-info">
        <div class="card-icon">
          <i class="material-icons">arrow_downward</i>
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title"><%= t(:minimum, scope: [:views, :titles]) %></h4>
        Indicador promedio
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header card-header-icon card-header-danger">
        <div class="card-icon">
          <i class="material-icons">arrow_upward</i>
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title"><%= t(:maximum, scope: [:views, :titles]) %></h4>
        Indicador promedio
      </div>
    </div>
  </div>
</div>