<div class="card">
  <div class="card-header card-header-success">
    <h4 class="card-title">
      Editing Greenhouse
      <%= link_to_back greenhouses_path%>
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', greenhouse: @greenhouse %>
  </div>
</div>
