<div class="card">
  <div class="card-header card-header-success">
    <h4 class="card-title ">
      Secciones
      <%= link_to_new new_floor_path %>
    </h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover" id="floors-dttb" data-source="<%= datatable_floors_path(format: :json) %>">
        <thead>
          <tr>
            <th data-data='id'>ID</th>
            <th data-data='name'>Name</th>
            <th data-data='plant_type'>Plant Type</th>
            <th data-data='buttons' data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export"></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
