<div class="card">
  <div class="card-header card-header-success">
    <h4 class="card-title">
      New Floor
      <%= link_to_back floors_path%>
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', floor: @floor %>
  </div>
</div>
