<div class="card">
  <div class="card-header card-header-success">
    <h4 class="card-title">
      <%= Sensor.human_title(:update) %>
      <% if policy(Arduino).index? %>
      <%= link_to_back admin_arduino_path%>
      <% end %>
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', sensor: @sensor %>
  </div>
</div>
