<div class="card">
  <div class="card-header card-header-success">
    <h4 class="card-title">
      New Sensor
      <%= link_to_back sensors_path%>
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', sensor: @sensor %>
  </div>
</div>
