<%= simple_form_for([:admin, @arduino]) do |f| %>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.input :model, input_html: { class: "form-control" } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.input :serial, input_html: { class: "form-control" } %>
    </div>
  </div>
</div>
<%= f.button :submit, class:"btn btn-primary pull-right" %>
<% end %>
