<p><%= t("devise.views.mailer.text1", email: @resource.email) %></p>

<p><%= t("devise.views.mailer.text6") %></p>
<p><%= t("devise.views.mailer.text7") %></p>
<br>
<p>Atte. <b>Equipo AgroSyscare</b></p>
