<footer class="footer">
  <div class="container-fluid">
    <nav class="float-center">
      <ul>
        <li>
          <a href="#">
            Copyright © AgroSyscare 2020
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
